<a href="https://colab.research.google.com/github/SSUKENIK/hello-world/blob/master/clean_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import re  # Needed for regular expression searching

# Milestone 1 - Reading and Cleaning Data

In [ ]:
games = pd.read_html('https://en.wikipedia.org/wiki/NBA_All-Star_Game',index_col=0,parse_dates=True)[2]
pd.set_option('display.max_row',100)  # Necessary to display all the rows
games.dropna(how='any')  # Get rid of all NA rows
games           # Print out games to examine data

                                                     Result  ...                                           Game MVP
Year                                                         ...
1951                                      East 111, West 94  ...                        Ed Macauley, Boston Celtics
1952                                      East 108, West 91  ...                 Paul Arizin, Philadelphia Warriors
1953                                       West 79, East 75  ...                   George Mikan, Minneapolis Lakers
1954                                  East 98, West 93 (OT)  ...                          Bob Cousy, Boston Celtics
1955                                      East 100, West 91  ...                       Bill Sharman, Boston Celtics
1956                                      West 108, East 94  ...                        Bob Pettit, St. Louis Hawks
1957                                      East 109, West 97  ...                      Bob Cousy (2), Boston Celtics
1958                                     East 130, West 118  ...                    Bob Pettit (2), St. Louis Hawks
1959                                     West 124, East 108  ...  Elgin Baylor, Minneapolis LakersBob Pettit (3)...
1960                                     East 125, West 115  ...            Wilt Chamberlain, Philadelphia Warriors
1961                                     West 153, East 131  ...                 Oscar Robertson, Cincinnati Royals
1962                                     West 150, East 130  ...                    Bob Pettit (4), St. Louis Hawks
1963                                     East 115, West 108  ...                       Bill Russell, Boston Celtics
1964                                     East 111, West 107  ...             Oscar Robertson (2), Cincinnati Royals
1965                                     East 124, West 123  ...                     Jerry Lucas, Cincinnati Royals
1966                                      East 137, West 94  ...                    Adrian Smith, Cincinnati Royals
1967                                     West 135, East 120  ...                 Rick Barry, San Francisco Warriors
1968                                     East 144, West 124  ...                      Hal Greer, Philadelphia 76ers
1969                                     East 123, West 112  ...             Oscar Robertson (3), Cincinnati Royals
1970                                     East 142, West 135  ...                       Willis Reed, New York Knicks
1971                                     West 108, East 107  ...                 Lenny Wilkens, Seattle SuperSonics
1972                                     West 112, East 110  ...                     Jerry West, Los Angeles Lakers
1973                                      East 104, West 84  ...                        Dave Cowens, Boston Celtics
1974                                     West 134, East 123  ...                        Bob Lanier, Detroit Pistons
1975                                     East 108, West 102  ...                      Walt Frazier, New York Knicks
1976                                     East 123, West 109  ...                      Dave Bing, Washington Bullets
1977                                     West 125, East 124  ...                  Julius Erving, Philadelphia 76ers
1978                                     East 133, West 125  ...                        Randy Smith, Buffalo Braves
1979                                     West 134, East 129  ...                     David Thompson, Denver Nuggets
1980                                East 144, West 136 (OT)  ...                   George Gervin, San Antonio Spurs
1981                                     East 123, West 120  ...                     Nate Archibald, Boston Celtics
1982                                     East 120, West 118  ...                         Larry Bird, Boston Celtics
1983                                     East 132, West 123  ...              Julius Erving (2), Philadelphia 76ers
1984                                East 154, West 145 (OT)  ...                      Isiah Thomas, Detroit Pistons
1985                                     West 140, East 129  ...                     Ralph Sampson, Houston Rockets
1986                                     East 139, West 132  ...                  Isiah Thomas (2), Detroit Pistons
1987                                West 154, East 149 (OT)  ...                  Tom Chambers, Seattle SuperSonics
1988                                     East 138, West 133  ...                      Michael Jordan, Chicago Bulls
1989                                     West 143, East 134  ...                             Karl Malone, Utah Jazz
1990                                     East 130, West 113  ...                  Magic Johnson, Los Angeles Lakers
1991                                     East 116, West 114  ...                Charles Barkley, Philadelphia 76ers
1992                                     West 153, East 113  ...              Magic Johnson (2), Los Angeles Lakers
1993                                West 135, East 132 (OT)  ...  Karl Malone (2), Utah JazzJohn Stockton, Utah ...
1994                                     East 127, West 118  ...                      Scottie Pippen, Chicago Bulls
1995                                     West 139, East 112  ...                   Mitch Richmond, Sacramento Kings
1996                                     East 129, West 118  ...                  Michael Jordan (2), Chicago Bulls
1997                                     East 132, West 120  ...                       Glen Rice, Charlotte Hornets
1998                                     East 135, West 114  ...                  Michael Jordan (3), Chicago Bulls
1999      Canceled due to the league's lockout.The game ...  ...  Canceled due to the league's lockout.The game ...
2000                                     West 137, East 126  ...  Tim Duncan, San Antonio SpursShaquille O'Neal,...
2001                                     East 111, West 110  ...                  Allen Iverson, Philadelphia 76ers
2002                                     West 135, East 120  ...                    Kobe Bryant, Los Angeles Lakers
2003                               West 155, East 145 (2OT)  ...              Kevin Garnett, Minnesota Timberwolves
2004                                     West 136, East 132  ...           Shaquille O'Neal (2), Los Angeles Lakers
2005                                     East 125, West 115  ...              Allen Iverson (2), Philadelphia 76ers
2006                                     East 122, West 120  ...                  LeBron James, Cleveland Cavaliers
2007                                     West 153, East 132  ...                Kobe Bryant (2), Los Angeles Lakers
2008                                     East 134, West 128  ...              LeBron James (2), Cleveland Cavaliers
2009                                     West 146, East 119  ...  Kobe Bryant (3), Los Angeles LakersShaquille O...
2010                                     East 141, West 139  ...                            Dwyane Wade, Miami Heat
2011                                     West 148, East 143  ...                Kobe Bryant (4), Los Angeles Lakers
2012                                     West 152, East 149  ...                Kevin Durant, Oklahoma City Thunder
2013                                     West 143, East 138  ...                   Chris Paul, Los Angeles Clippers
2014                                     East 163, West 155  ...                  Kyrie Irving, Cleveland Cavaliers
2015                                     West 163, East 158  ...           Russell Westbrook, Oklahoma City Thunder
2016                                     West 196, East 173  ...       Russell Westbrook (2), Oklahoma City Thunder
2017                                     West 192, East 182  ...                Anthony Davis, New Orleans Pelicans
2018[5]                   Team LeBron 148, Team Stephen 145  ...              LeBron James (3), Cleveland Cavaliers
2019                      Team LeBron 178, Team Giannis 164  ...            Kevin Durant (2), Golden State Warriors
2020                     Team LeBron 157, Team Giannis 155‡  ...                Kawhi Leonard, Los Angeles Clippers
2021                       Team LeBron 170, Team Durant 150  ...             Giannis Antetokounmpo, Milwaukee Bucks
2022[18]                                        TBA vs. TBA  ...                                                NaN
2023[19]                                        TBA vs. TBA  ...                                                NaN
2024                                            TBA vs. TBA  ...                                                NaN

[74 rows x 4 columns]

# Milestone 2 - Keeping Only Data of Interest

In [ ]:
# 
#  Change year to int and use an index
#  Delete all rows that came after 2017
#
pattern = re.compile('(\d{4})')                                 # Only extract the year  2018 has an exception 
extract_date = lambda x : int(pattern.match(x).group(1))
games.index = pd.Series([extract_date(index) for index in games.index],
                        dtype=np.int16)  # Convert over the Year into integer
#
# Can use rename fuction to clean index
#
#   games = games.rename(index=extract_date)                        
games.drop(games.loc[games.index > 2017].index,inplace=True)   
games.drop(["Host arena"],axis=1,inplace=True)
del(games["Game MVP"])
#
# Change Host city to display only the city 
#
games["Host city"] = [str.strip(city[0]) for city in games["Host city"].str.split(',')]

games.tail()

                  Result      Host city
2013  West 143, East 138        Houston
2014  East 163, West 155    New Orleans
2015  West 163, East 158  New York City
2016  West 196, East 173        Toronto
2017  West 192, East 182    New Orleans

In [ ]:
#
# Filter out any years that do not contain East or West Scores
#
#  i.e. 1999	Canceled due to the league's lockout.
#
pattern = re.compile('(East|West) (\d{1,3}), (East|West) (\d{1,3})')  # Set valid score patterns
games = games.loc[games['Result'].apply(lambda x: bool(pattern.match(x))) ]

In [ ]:
#
# Build Score columns
#
def build_score_col(colname:str):
    pattern = re.compile('.*' + colname + ' (\d{1,3})')
    scores = pd.Series(games['Result'].apply(lambda x : pattern.match(x).group(1) ),dtype=np.int16)
    games.insert(2,colname,scores)
build_score_col('West')
build_score_col('East')
games = games.drop("Result",axis=1)  # Drop the results column
games.head()

          Host city  East  West
1951         Boston   111    94
1952         Boston   108    91
1953     Fort Wayne    75    79
1954  New York City    98    93
1955  New York City   100    91

# Milestone 3 - Getting counts

In [ ]:
score_diff = abs(games["East"] - games["West"])
games.insert(games.shape[1],"Diff", score_diff)
# Note - can use 
#    games['Diff'].value_counts()
#
results = pd.Series(games.groupby(['Diff'])['Diff'].count())  # Note - Series can be sorted
print(results.sort_values(ascending=False))

Diff
5     7
11    5
2     5
9     5
1     4
10    4
3     3
4     3
7     3
8     3
12    3
17    3
20    3
14    2
15    2
6     2
21    2
27    2
40    1
16    1
22    1
23    1
43    1
Name: Diff, dtype: int64

# Milestone 4 - Filtering and Grouping data

## 1. What is the maximum and minmum score difference between all games

In [ ]:
max_diff = results.index.max()
print("Maximum score difference: " + str(max_diff))
games.loc[games['Diff'] == max_diff]

Maximum score difference: 43

       Host city  East  West  Diff
1966  Cincinnati   137    94    43

In [ ]:
min_diff = results.index.min()
print("\n\nMinmum score difference: " + str(min_diff))
games.loc[games['Diff'] == min_diff]

Minmum score difference: 1

       Host city  East  West  Diff
1965   St. Louis   124   123     1
1971   San Diego   107   108     1
1977   Milwaukee   124   125     1
2001  Washington   111   110     1

## 2. If a city hosted a game more than once, what was the average score for the East and West team?

In [ ]:
group_games =games.groupby("Host city")            # Group by Host City
result = group_games[['East','West']].mean()       # Get mean for East and West columns
result['Count'] = group_games["Host city"].count() # Append Count
result.loc[result['Count'] > 1]                    # Only report on Cities that played more than 2 games

                     East        West  Count
Host city
Atlanta        139.000000  140.000000      2
Boston         109.750000   97.250000      4
Chicago        121.000000  108.500000      2
Denver         139.500000  130.000000      2
Houston        131.333333  135.333333      3
Inglewood      121.000000  117.500000      2
Los Angeles    130.000000  130.666667      3
New Orleans    159.666667  158.333333      3
New York City  127.000000  117.000000      5
Orlando        131.000000  152.500000      2
Philadelphia   127.500000  123.500000      4
Phoenix        113.000000  129.000000      3
Seattle        136.000000  144.000000      2
St. Louis      128.000000  130.333333      3